body {
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 20px;
  border: 2px
}

p {
  text-align: center;
  width: 30%;
}

.paragraph-1 {
  font-style: italic;
  font-size: 8px;
  border: 2px dotted red;
}

.paragraph-2 {
  color: white;
  background-color: blue;
  font-size: 20px;
  border: 2px solid transparent;
}

.paragraph-3 {
  color: black;
  background-color: #32bba4;
  font-size: 8px;
  border: 2px solid transparent;
  margin-top: 40px;
}