.menu {
    position: absolute;
    width: 200px;
    background-color: white;
    padding: 20px;
    font-size: 25px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(255, 255, 255);
    background-color: green;
}

.menu p {
    margin-bottom: 40px;
    background-color: green;
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.menu a:hover {
    background-color: #bd760c;
}
